/*UNIVERSAL*/
body {
    margin: 0px;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    background-color:  #EBEBEB;
    background: linear-gradient(to bottom, #493673 10% ,#EBEBEB, #493673 );
}

p {
    font-weight: lighter;
}

h1 {
    font-family: Rubik Mono One, Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

i {
    color: #0388A6;
    font-size: xxx-large;
}
span {
    font-size: x-large;
}

.page-heading {
    transform: rotate(-5deg);
    padding-bottom: 40px;
}

h2 {
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-top: 0px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

.main-width {
    margin: auto;
    align-items: center;
    padding:  0px 20px;
    max-width: 1400px;
}

.textbox {
    background-color: #26241F;
    margin: 20px;
    border-radius: 5rem;
}

.text {
    display: center;
    margin: auto;
    max-width: 100%;
    padding: 20px;
    max-width: 450px;
    font-size: large;
    font-weight: 400;
}

.light-ocean {
    color: #0388A6;
    font-size: x-large;
    max-width: 450px;
    margin:  5px auto;
    padding: 20px ;
    transform: rotate(-5deg);
}

.light-blueberry {
    color: #E0D8FF;
    font-size: x-large;
    max-width: 450px;
    margin:  5px auto;
    padding: 20px ;
    transform: rotate(-5deg);
}

.white {
    color: #EBEBEB;
    font-size: x-large;
    max-width: 450px;
    margin:  5px auto;
    padding: 20px ;
    transform: rotate(-5deg);
}

.textbox img {
border-radius: 5em 5em 0em 0em;
}


/*Links*/
a {
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    color: #fff;
}

.cta {
    padding:  4px 8px;
    border-radius: 1rem;
    background-color: #0388A6;
    margin: 10px;
}


.cta:hover {
    padding: 10px 17px;
    background-color: #493673;
}

#selected {
    padding: 10px 8px 50px;
    background-color: #493673;
}

/*HEADER*/
header {
    background-color: #26241F;
    padding: 20px;
}

#header-content {
    align-items: flex-end;
    max-width: 1400px;
    margin: auto;
    display: flex;
}

header img {
    max-width: 150px;
}

#logo {
    flex: 1;
}

#header-menu {
    flex: 2;
}

.header-menu-nav {
    display: none;
}

#hamburger_menu {
    display: none;
}

#hamburger_menu:checked ~ .header-menu-nav {
    display: block;
}

header label {
    font-size: xx-large;
}

/*FOOTER*/
footer {
    background-color: #26241F;
}

.footer-flex {
    max-width: 1600px;
    align-items: center;
    margin: auto;
}

#footer-menu {
    padding: 20px 20px 80px;
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

footer a:hover {
    color: #0388A6;
}

#footer-info {
    display: flex;
    justify-content: space-between;
}

#footer-info nav ul li {
    display: block;
    padding: 5px;   
}

.footer-info-flex {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer-info-flex i{
    margin-bottom: 20px;
}

.footer-info-flex span{
    border-bottom: #0388A6 solid  2px;
}

.checked i{
    font-size: medium;
    margin-bottom: 0px;
}

iframe {
    max-width: 250px;
    max-height: 250px;
    filter: invert(100%);
    border-radius: 50%;
}

/*HOME*/
.grid_container {
    max-width: 1400px;
    margin: auto;
    padding: 50px 20px;
    display: grid;
    grid-gap: 8px;
    grid-template-areas: "ex ex exp" "ev ev ev" "vi th th";
    grid-template-columns: repeat(400px, 3);
}

.grid-box:nth-child(1){grid-area: ex;}
.grid-box:nth-child(2){grid-area: exp;}
.grid-box:nth-child(3){grid-area: ev;}
.grid-box:nth-child(4){grid-area: vi;}
.grid-box:nth-child(5){grid-area: th;}


#Exhibitions {background-image: url(../Images/mammoth-1257288_1920.jpg)}
#Explore {background-image: url(../Images/vr.jpg)}
#Events {background-image: url(../Images/scientific-2040795_1280.jpg)}
#visitus {background-image: url(../Images/library-1132573_1920.jpg);}
#themoon {background-image: url(../Images/moon.jpg);}

.background-images {
    min-height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
}

.background-images:hover .chevron-right {
    transform: translateX(50%);
}

.background-images:hover .background-blur  {
    padding-bottom: 50px;
    opacity: 100%;
    content: "Check it out";
}

.background-blur {
    grid-row: 2; 
    align-self: end;
    height: 100px;
    background-color: #26241F;
    opacity: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    transition: padding 1s, opacity 1s;
}

.background-blur div {
    align-self: center;
}

.grid_container h1 {
    margin: 20px;
}

.chevron-right{
    grid-column: 2;
    justify-self: end;
    margin-right: 20px;
    transition: transform 1s;
}

.chevron-right i {
    font-size: xx-large;
    color: #EBEBEB;
}

.find-the-hippo {
    background: linear-gradient(to bottom, #26241F 80%, #B0AAC0 );
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 200px 20px;
    margin-bottom: 40px;
    gap: 40px;
}

#A49CB7
.find-the-hippo img {
    width: 90px;
}

.flex-home {
    max-width: 700px;
    align-content: center;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column; 
    gap: 15px;  
    margin-bottom: 20px;
}

.flex-home .textbox { 
    padding: 50px;
    border-radius:  5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#flex-home-1 {
    flex-direction: column;
}

.flex-home .textbox img {
    max-height: 100px;
    max-width: 100px;
}

/*Events*/
#events-grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-areas:  "sp nh nh" "en en en";
    margin: 40px 0px;
}

#events-grid-container .textbox:nth-child(1){grid-area: sp;}
#events-grid-container .textbox:nth-child(2){grid-area: nh;}
#events-grid-container .textbox:nth-child(3){grid-area: en;}


#events-grid-container img{
    width: 100%;
    max-height: 100%;
}

#events-grid-container .text, .light-blueberry, .light-ocean, .white {
    padding: 30px;
}

/*Exhibitions*/
#Exhibitions-flex-container {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-content: stretch;
    justify-content: space-around;
}

.Exhibitions-box {
    display: flex;
    flex-wrap: wrap;
}

#Exhibitions-flex-container img {
    width: 600px;
    max-height: 400px;
}

/*Visit us*/

.grid-container-visitus {
    display: grid;
    margin-bottom: 40px;
    grid-template-areas: 
    "sho img img"
    "foo img img"
    "acc img img"
    "adm loc ho ";
}

.grid-container-visitus div:nth-child(1) {grid-area: img;}
.grid-container-visitus div:nth-child(2) {grid-area: loc;}
.grid-container-visitus div:nth-child(3) {grid-area: adm;}
.grid-container-visitus div:nth-child(4) {grid-area: ho;}
.grid-container-visitus div:nth-child(5) {grid-area: foo;}
.grid-container-visitus div:nth-child(6) {grid-area: sho;}
.grid-container-visitus div:nth-child(7) {grid-area: acc;}

.grid-container-visitus .textbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 100%;
}

.museum-pic {
    margin: 20px 0px;
}

.museum-pic img {
    max-width: 100%;
    border-radius: 5rem;
}

.grid-container-visitus div li {
    padding: 10px;
    list-style: none;
}

/*Explore*/
.explore-header{
display: flex;
padding: 20px;
}

#Explore-flex .textbox {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0px;
}
#explore-rotate1 {
    transform: rotate(2deg);
}

#explore-rotate2 {
    transform: rotate(-2deg);
}

.focus-paws {
    text-align: center;
}
#top-paws {
    transform: rotate(-30deg);
    margin-right: 200px;
}

#Explore-flex .textbox i {
    font-size: 1000%;
}

.curious-hippo {
    max-width: 700px;
    width: 100%;
}

/*MEDIA*/

@media only screen and (min-width: 800px) {

    header label {
        display: none;
    }

    .header-menu-nav {
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    h1 {
        font-size: large;
    }

    #header-content {
        align-items: center;
    }

    #footer-info {
        display: none;
    }

    #footer-menu {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
    .header-menu-nav {    
        position: fixed;
        top: 110px;
        right: 0px;
        background-color: #26241F;
        padding: 20px;
        z-index: 1000;
    }  

    .header-menu-nav li {
        display: block;
        padding: 20px;
    }
    
    .cta {
        padding:  4px 8px;
        background-color: #26241F;
        border-radius: 5rem;
        margin: 10px;
    }

    a {
        font-size: x-large;
    }

    #logo {
        flex: 9;
    }

    .grid_container {
        grid-template-areas: "ex" "exp" "ev" "vi" "th" "to";
}
.find-the-hippo {
    background: linear-gradient(to bottom, #26241F 80%, #D6D3DB);   
 }

    #events-grid-container {
        grid-template-areas:  "sp sp sp" "nh nh nh" "en en en";
    }
    
    #Exhibitions-flex-container img {
        width: 100%;
    }

    #explore-rotate1, #explore-rotate2 {
        transform: rotate(0deg);
    }

    #Explore-flex .textbox i {
        font-size: 700%;
    }
}

@media only screen and (max-width: 1000px) {
    .grid-container-visitus {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        }

        .museum-pic img {
            width: 492px;
        }

        .grid-container-visitus .textbox {
            width: 492px;
        }

}





